{%extends 'base.html'%}

{%block body%}

<a href="/todo_items/add" class="btn btn-info" role="button">Todo Item hinzufuegen</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ItemID</th>
      <th scope="col">item_name</th>
      <th scope="col">item_description</th>
    </tr>
  </thead>
  <tbody>
    {% for item in todo_items %}
      <tr>
        <td>{{item.item_id}}</td>
        <td>{{item.item_name}}</td>
        <td>{{item.item_description}}</td>
        <td>
            <a class="btn btn-outline-secondary" name="SponsorID" id="SponsorID" href="/hauptsponsor/edit?SponsorID={{sponsor.SponsorID}}">✏️</a>
            <form action="/hauptsponsor/delete" method="post" style="display: inline;">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <input type="hidden" name="SponsorID" id="SponsorID" value="{{sponsor.SponsorID}}">
              <a class="btn btn-outline-secondary" href="#" onclick="deleteSponsor(this); return false;">🗑️</a>
            </form>
          </td>     
      </tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%}